.Text {
  .title {
    color: var(--primary-color);
  }

  .text {
    color: var(--secondary-color);
  }

  // Text alignment
  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }

  // Text theme
  &.error {
    .title {
      color: var(--red-light-color);
    }

    .text {
      color: var(--red-dark-color);
    }
  }

  // Text size
  &.s {
    .title {
      font: var(--font-m);
    }

    .text {
      font: var(--font-s);
    }
  }

  &.m {
    .title {
      font: var(--font-l);
    }

    .text {
      font: var(--font-m);
    }
  }

  &.l {
    .title {
      font: var(--font-xl);
    }

    .text {
      font: var(--font-l);
    }
  }
}
