.app_purple_theme {
  --bg-color: #e388f3;
  --inverted-bg-color: #639;
  --primary-color: #faf4fb;
  --secondary-color: #461eb3;
  --inverted-primary-color: #60c1e7;
  --inverted-secondary-color: #b9e14c;
}
