.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
  border-radius: 8px;

  .content {
    margin-top: 30px;

    .avatarWrapper {
      display: flex;

      /* grid-column: 1 / 3; */
      align-items: center;
      justify-content: center;
      width: 100%;

      /* margin-bottom: 1rem; */
    }

    .input {
      display: block;
      margin-bottom: 10px;
    }
  }

  &.loading,
  &.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
  }

  &.isEditing {
    border: 2px solid var(--inverted-primary-color);
  }
}
